:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
}

header {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 5rem;
}

span {
  color: rgb(252, 69, 76);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 5rem;
  align-items: center;
  flex-wrap: wrap;
  /* width: 75%;
  height: auto; */
}

li {
  color: gray;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  overflow-wrap: break-word;
}

li:hover {
  color: red;
}

.images-box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

img {
  width: 325px;
  height: auto;
  margin: 0.75rem;
}

.bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 1.5rem;
}

.get-in-touch-button {
  background-color: black;
  color: white;
  border: 0;
  padding: 0.75rem;
  margin: 0.5rem auto;
  font-size: 0.5rem;
  width: 5.5rem;
  text-align: center;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  ul {
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    font-size: 1rem;
  }
  .images-box {
    border: 5px solid pink;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  img {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  ul {
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    font-size: 1.25rem;
  }
  .images-box {
    border: 5px solid red;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  img {
    width: 500px;
  }
}

/* code review
.navHeader ul{
  visibility: hidden;
  display:none;

  }

#mobileHead {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 2.5rem;
    margin-left: 0.75rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: #d8d8d8;
    font-weight:bold
  }

h1 {

    margin-top: 5rem;
    text-align: center;
    margin-left:1rem;
    margin-right:1rem;
    font-size: 1.75rem;
    color: #d8d8d8;
    font-family: 'Josefin Sans', sans-serif;

  }

span {
    color: #ff5e5e;
  }

.menuBar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 1rem;
    padding-right:1rem;
    padding-bottom:1rem;
    padding-top:4rem;
    font-size: 0.75rem;
    color: #8e8e8e;
    align-content: center;

  }

#bottom {

    padding-top:1rem;

  }

.wrapContainer {
  display:flex;
  flex-direction: column;
  padding: 1.25rem;

}
img{

  width: 100%;
  height: auto;
  display:block;
  padding-bottom: 1rem;


}

.bottomText {

  margin-top:2.5rem;
  margin-bottom:rem;

}

p {

  color: white;
  text-align:center;

}

.box {
  margin: 50px;
  padding: 25px;
  background: black;
  line-height: 20px;
  height: 20px;


}

@media (min-width: 768px) and (max-width: 1024px) {


.navHeader ul {
    visibility: visible;
    display:flex;
    align-items: flex-start;
    justify-content: space-even;

    }

#mobileHead {
    visibility: visible;
    display:flex;
    align-content:flex-start;
    /* margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 2.5rem;
    margin-left: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem;
    color: #d8d8d8;
   }

h1 {
    text-align: center;
    margin:5rem;
    may need margin-bottom
    font-size: 2.5rem;
    color: #d8d8d8;
    font-family: 'Josefin Sans', sans-serif;

  }

.menuBar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
       padding-left:0rem;
      padding-right:10rem;
      padding-bottom:5rem;
      padding-top:4rem;
      margin-right:2rem;
      margin-left:2rem;
      font-size: 0.75rem;
      color: #8e8e8e;


    }

#bottom {
      padding-top:0rem;
    }

.wrapContainer {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      margin:-55px;
}

img {
  height:350px;
  object-fit:cover;
  width:45%;
  padding:1rem;
}

.bottomText {
  padding-top:5rem;
  font-size:3.5rem;
}
.box {
  padding-left:2rem;
  padding-right:2rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left:19rem;
  margin-right:19rem;
  margin-top:-2.5rem;
  margin-bottom:5rem;
  font-size:1rem;
} */
